<% @blogs.each do |blog| %>
  <div class="portfolio">
    <div class="tagline_left blog_link">
      <h2><strong><%=link_to blog.title, show_path(blog)%></strong></h2>
      <div><p id="tagline2">作者:<%= blog.author%></p></div>
      <div><p id="tagline2">浏览:<%= blog.view_count%></p></div>
      <% @cat = Category.get_category(blog.constant_id)%>
      <p id="tagline2">分类:<%= link_to @cat.category, {:action=>:index, :id=>@cat.id, :catname=>@cat.category, :controller=>:category}%></p>
      <br/>
      <div class="date"><span class="day"><%= blog.created_at.strftime('%d')%></span><span class="month"><%= blog.created_at.strftime('%b')%></span><span class="year"><%=blog.created_at.strftime('%Y')%></span></div>
      <div class="hidden-time" style="display:none"><%= blog.created_at.strftime('%Y-%m-%d %H:%M:%S')%></div>
      <%=preview_content(blog.content)%>
      <div class="clear"></div>
      <p><%=link_to '阅读更多...', show_path(blog), :class=>"read_more"%></p>
    </div>
    <div class="tagline_right">
      <% if(blog.video_url != nil&& !blog.video_url.empty?)%>
        <embed src=<%= blog.video_url%> quality="high" width="500" height="400" align="middle" allowScriptAccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></embed>
      <% else%>
      <a href=<%= image_large(blog.content).sub('large','original')%> data-gal="prettyPhoto"  target="_blank" title=<%= blog.title%>><img src=<%=image_large(blog.content)%> /></a>
    <% end%>
  </div>
  <div class="clear"></div>
</div>
<% end%>
