<article class="box" id="home_featured21">
<%= render 'application/hot_comments'%>
<%= render 'application/hot_topics'%>
<%= render 'application/categories'%>
<div class="clear"></div>
<br/>
</article>
<br/>
<br/>
<div class="box" id="item-view">
  <%= render 'blog/more'%>
</div>
<div class="hidden-category" style="display:none">blog</div>
<%= render 'application/load'%>
