<div class="box blog_img">
  <h1><strong><%=@blog.title%></strong></h1>
  <% @cat = Category.get_category(@blog.constant_id)%>
  <p id="tagline2" align="right">
  发布日期:<%= @blog.created_at.strftime('%Y-%m-%d %H:%M')%> /
  浏览:<%= @blog.view_count%> /
  博客类别:<%= link_to @cat.category, {:action=>:index, :id=>@cat.id, :catname=>@cat.category, :controller=>:category}%></p>
  <br/>

  <% if(@blog.video_url != nil&& !@blog.video_url.empty?)%>
    <p><embed src=<%= @blog.video_url%> quality="high" width="900" height="600" align="middle" allowScriptAccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></embed></p>
    <br>
  <% end %>
  <p align="center"><%=show_content(@blog.content)%></p>
</div>

<p><%=link_to "下一篇: #{@next_blog.title}", show_path(@next_blog), :class=>"read_more"%></p>
<br/>
<br/>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_developer = 1;
var disqus_shortname = 'everyday-cn'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
