<div class="main-container">
  <div id="nav-container">
    <nav>
    <ul class="nav">
      <li class="active"><%= link_to '首页', root_path%></li>
      <li><a href="gallery.html">图片show</a></li>
      <li><%=link_to '博客归档', archive_path %></a></li>
      <li><%=link_to '新鲜时讯', 'http://news.everyday-cn.com'%></li>
      <li><%=link_to 'TECH TALK', 'http://tim.everyday-cn.com'%></li>
      <li><%=link_to '关于我们', aboutus_path %></li>
      <li class="last"><%=link_to '留言版', msgboard_path %></li>
    </ul>
    </nav>
    <div class="clear"></div>
  </div>
</div>
