<div class="main-container">
  <div id="nav-container">
    <nav>
    <ul class="nav">
    <li><%=link_to_unless_current('首页', root_path){|link| content_tag 'a', link, :style=>'background:#e0e0e0'}%></li>
    <li><%=link_to_unless_current('图片show', gallery_path){|link| content_tag 'a', link, :style=>'background:#e0e0e0'}%></li>
    <li><%=link_to_unless_current('博客归档', archive_path){|link| content_tag 'a', link, :style=>'background:#e0e0e0'}%></a></li>
    <li><%=link_to_unless_current('新鲜时讯', 'http://news.everyday-cn.com'){|link| content_tag 'a', link, :style=>'background:#e0e0e0'}%></li>
    <li><%=link_to_unless_current('TECH TALK', 'http://tim.everyday-cn.com'){|link| content_tag 'a', link, :style=>'background:#e0e0e0'}%></li>
    <li><%=link_to_unless_current('关于我们', aboutus_path){|link| content_tag 'a', link, :style=>'background:#e0e0e0'}%></li>
    <li class="last"><%=link_to_unless_current('留言版', msgboard_path){|link| content_tag 'a', link, :style=>'background:#e0e0e0'}%></li>
  </ul>
  </nav>
  <div class="clear"></div>
</div>
</div>
