<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="yoyo,博客,宝宝,育儿,旅游" />
    <meta name="description" content="Everyday |YOYO's family blog" />
    <meta name="robots" content="yoyo,博客,宝宝,育儿,旅游" />
    <title>Everyday | {分享简单快乐}</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    <%= stylesheet_link_tag 'elegant-press.css', :media=>'screen' %>
    <%= stylesheet_link_tag 'global.css', :media=>'screen' %>
    <%= javascript_include_tag 'elegant-press.js'%>
    <%= javascript_include_tag 'application.js'%>
    <%= csrf_meta_tag %>
    <!--[if IE]><style>#header h1 a:hover{font-size:75px;}</style><![endif]-->
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23115957-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>

  </head>
  <body>
    <%= render 'application/header'%>
    <%= render 'application/search'%>
    <%= render 'application/navigation'%>
    <div class="main-container">
      <div class="container1">
        <%= render 'application/breadcrumb'%>
        <%= yield %>
      </div>
    </div>
    <%= render 'application/footer'%>
  </body>
</html>
